@using EduHome.Models
@model Contact

<div class="col-md-3 col-sm-6 col-xs-12">
    <div class="single-widget">
        <h3>get in touch</h3>
        <p>@Model.Address</p>
        <p>@Model.Phone1<br>@Model.Phone2</p>
        <p>@Model.Email<br>@Model.WebSite</p>
    </div>
</div>