@model HomeVM

<section id="slider-container" class="slider-area two">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        @foreach (var slider in Model.Sliders)
        {
            <div class="single-slide item" style="background-image: url(img/@slider.Photo)">
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content text-center">
                                        <h2>@slider.Title</h2>
                                        <p>@slider.Text</p>
                                        <a class="default-btn" asp-controller="About" asp-action="Index">@slider.ButtonText</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Background Area End -->
<!-- Service Start -->
<div class="service-area two pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a href="teacher.html">PROFESSIONAL TEACHER</a></h3>
                    <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a href="teacher.html">PROFESSIONAL TEACHER</a></h3>
                    <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a href="teacher.html">PROFESSIONAL TEACHER</a></h3>
                    <p>I must explain to you how all this mistaken denouncing pleure and praising pain </p>
                </div>
            </div>
        </div>
    </div>
</div>


@await Component.InvokeAsync("WelcomeSection")


<div class="courses-area two pt-150 pb-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section1.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var course in Model.Courses)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a href="course-details.html">
                                <img src="~/img/@course.CourseImage.Photo" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a href="course-details.html">@course.Name</a></h3>
                            <p>@course.Title</p>
                            <a class="default-btn" href="course-details.html">read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
@await Component.InvokeAsync("NoticeBoard")
<!-- Notice End -->
<!-- Event Area Start -->
<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var _event in Model.Events)
            {
                <div class="single-event hidden-xs col-md-6 col-sm-12 col-xs-12">
                    <div style="width:214px; height:197px; object-fit:contain; overflow:hidden" class="event-img">
                        <a href="event-details.html"><img style="height:100%" src="~/img/@_event.EventImage.Photo" alt="event"></a>
                    </div>
                    <div class="event-content text-left">
                        <h3>@_event.StartTime?.ToString("dd MMMM yyyy")</h3>
                        <h4><a href="event-details.html">@_event.Name</a></h4>
                        <ul>
                            <li><i class="fa fa-clock-o"></i>@_event.StartTime?.ToString("h:mm tt") - @_event.EndTime?.ToString("h:mm tt")</li>
                            <li><i class="fa fa-map-marker"></i>@_event.Venue</li>
                        </ul>
                        <div class="event-content-right">
                            <a class="default-btn" href="event-details.html">join now</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                <div class="col-md-8 col-md-offset-2 col-sm-12">
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="~/img/testimonial/testimonial.jpg" alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual</p>
                                <h4>David Morgan</h4>
                                <h5>Student, CSE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Blog", 3)
        </div>
    </div>
</div>
<!-- Blog Area End -->
<!-- Subscribe Start -->

@await Component.InvokeAsync("Newsteller")