@model HomeVM

@await Component.InvokeAsync("Slider")

@await Component.InvokeAsync("WelcomeSection")


<div class="courses-area two pt-150 pb-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section1.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var course in Model.Courses)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-course">
                        <div class="course-img">
                            <a asp-controller="Course" asp-action="CourseDetail" asp-route-id="@course.Id">
                                <img src="~/img/@course.CourseImage.Photo" alt="course">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                        </div>
                        <div class="course-content">
                            <h3><a asp-controller="Course" asp-action="CourseDetail" asp-route-id="@course.Id">@course.Name</a></h3>
                            <p>@course.Title</p>
                            <a class="default-btn" asp-controller="Course" asp-action="CourseDetail" asp-route-id="@course.Id">read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@await Component.InvokeAsync("NoticeBoard")

<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var _event in Model.Events)
            {
                <div class="single-event hidden-xs col-md-6 col-sm-12 col-xs-12">
                    <div style="width:214px; height:197px; object-fit:contain; overflow:hidden" class="event-img">
                        <a asp-controller="Event" asp-action="EventDetail" asp-route-id="@_event.Id"><img style="height:100%" src="~/img/@_event.EventImage.Photo" alt="event"></a>
                    </div>
                    <div class="event-content text-left">
                        <h3>@_event.StartTime?.ToString("dd MMMM yyyy")</h3>
                        <h4><a href="event-details.html">@_event.Name</a></h4>
                        <ul>
                            <li><i class="fa fa-clock-o"></i>@_event.StartTime?.ToString("h:mm tt") - @_event.EndTime?.ToString("h:mm tt")</li>
                            <li><i class="fa fa-map-marker"></i>@_event.Venue</li>
                        </ul>
                        <div class="event-content-right">
                            <a class="default-btn" asp-controller="Event" asp-action="EventDetail" asp-route-id="@_event.Id">join now</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
@await Component.InvokeAsync("Testimonal")
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Blog", 3)
        </div>
    </div>
</div>
<!-- Blog Area End -->
<!-- Subscribe Start -->

@await Component.InvokeAsync("Newsteller")