@model List<EduHome.Models.Course>
<a asp-controller="Course" asp-action="CreateCourse" class="btn btn-success">Create</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th> Name </th>
            <th> Categories </th>
            <th> Photo </th>
            <th> Delete </th>
            <th> Edit </th>
            <th> Details </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            List<string> categories = new List<string>();
            foreach (var category in course.CourseCategories)
            {
                categories.Add(category.Category.Name);
            }
            <tr>
                <td> @course.Name </td>
                <td> @String.Join(", ", categories.ToArray()) </td>
                <td> <img src="~/img/@course.CourseImage.Photo" /> </td>
                <td> <a asp-action="DeleteCourse" asp-route-id="@course.Id" class="btn btn-danger"> Delete </a> </td>
                <td> <a asp-action="EditCourse" asp-route-id="@course.Id" class="btn btn-primary"> Edit </a> </td>
                <td> <a class="btn btn-info"> Details </a> </td>
                @*<td> @course.Name </td>
                <td> @course.Title </td>
                <td> @course.Description </td>
                <td> @course.ApplicationRule </td>
                <td> @course.Certification </td>
                <td> @course.StartDate?.ToString("dd/MMMM/yyyy") </td>
                <td> @course.Duration </td>
                <td> @course.ClassDuration </td>
                <td> @course.SkillLevel </td>
                <td> @course.Language </td>
                <td> @course.StudentCapacity.ToString() </td>
                <td> @course.Assesment </td>
                <td> @course.Fee </td>
                <td> <img src="~/img/@course.CourseImage.Photo" /> </td>
                <td> @String.Join(", ", categories.ToArray()) </td>*@           
            </tr>
        }
    </tbody>
</table>