@model BlogVM
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc


<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-35">
    <div class="row">
        @foreach (var blog in Model.Blogs)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <a style="width:370px;height:250px" asp-action="BlogDetail" asp-route-id="@blog.Id"><img style="overflow:hidden; height:100%" src="~/img/@blog.BlogImage.Photo" alt="blog"></a>
                        <div class="blog-hover">
                            <a asp-action="BlogDetail" asp-route-id="@blog.Id"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>By @blog.AuthorFullName  /  @blog.PostDate?.ToString("MMMM dd, yyyy")  /  <i class="fa fa-comments-o"></i> @blog.Comments.Count</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a asp-action="BlogDetail" asp-route-id="@blog.Id">@blog.Name</a></h2>
                            <a asp-action="BlogDetail" asp-route-id="@blog.Id">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.PagedListPager(Model.Blogs, number => Url.Action("Index", "Blog", new { number }))
        </div>
    </div>
</div>