@model BlogVM

<div class="row justify-content-center">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create course</h4>
                <form enctype="multipart/form-data" class="forms-sample" method="post">
                    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                    <input hidden asp-for="BlogId" value="@Model.BlogId" />
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name" value="@Model.Blog.Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthorFullName">Author fullname</label>
                        <input asp-for="AuthorFullName" class="form-control" placeholder="Author fullname" value="@Model.Blog.AuthorFullName">
                        <span class="text-danger" asp-validation-for="AuthorFullName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PostDate">Post Date</label>
                        <input asp-for="PostDate" class="form-control" placeholder="Post Date">
                        <span class="text-danger" asp-validation-for="PostDate"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Content">Content</label>
                        <input asp-for="Content" class="form-control" placeholder="Content" value="@Model.Blog.Content">
                        <span class="text-danger" asp-validation-for="Content"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo">Photo</label>
                        <img width="400px" src="~/img/@Model.Blog.BlogImage.Photo" id="blah" />
                        <input asp-for="Photo" class="form-control" accept="image/*" placeholder="Photo" id="imgInp">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                        <select class="selectpicker" asp-for="CategoriesInput" asp-items="@(new SelectList(ViewBag.Categories,"Name","Name"))">
                            @foreach (var option in Model.Blog.BlogCategories)
                            {
                                <option selected value="@option.Category.Name"> @option.Category.Name </option>
                            }
                        </select>
                        <label class="form-label select-label">Choose categories</label>
                        <span class="text-danger" asp-validation-for="CategoriesInput"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button asp-action="Index" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>imgInp.onchange = evt => {
  const [file] = imgInp.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}</script>
