@model EventVM

    <div class="banner-area-wrapper">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>event</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="event-area three text-center pt-150 pb-150">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Events)
                {
                    <div class="single-event mb-60 col-sm-4" style="height:470px">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="~/img/@item.EventImage.Photo" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@item.StartTime?.ToString("dd") <span>@item.StartTime?.ToString("MMM")</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a href="event-details.html">@item.Name</a></h4>
                            <ul>
                                <li><span>time:</span> @item.StartTime?.ToString("h:mm tt") - @item.EndTime?.ToString("h:mm tt")</li>
                                <li><span>venue:</span> @item.Venue</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
@await Component.InvokeAsync("Newsteller")   