@model CourseDetailVM

<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img src="~/img/course/courses-details.jpg" alt="courses-details">
                    </div>
                    <div class="course-details-content">
                        <h2>@Model.Name</h2>
                        <p>@Model.Title</p>
                        <div class="course-details-left">
                            <div class="single-course-left">
                                <h3>about course</h3>
                                <p>@Model.Description</p>
                            </div>
                            <div class="single-course-left">
                                <h3>how to apply</h3>
                                <p>@Model.ApplicationRule</p>
                            </div>
                            <div class="single-course-left">
                                <h3>certification</h3>
                                <p>@Model.Certification</p>
                            </div>
                        </div>
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.StartDate?.ToString("dd MMMM, yyyy")</span></li>
                                <li>duration <span>@Model.Duration</span></li>
                                <li>class duration <span>@Model.ClassDuration</span></li>
                                <li>skill level <span>@Model.SkillLevel</span></li>
                                <li>language <span>@Model.Language</span></li>
                                <li>students <span>@Model.StudentCapacity</span></li>
                                <li>assesments <span>@Model.Assesment</span></li>
                            </ul>
                            <h3 class="red">course fee $@Model.Fee</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search">
                                <input type="search" placeholder="Search..." name="search" id="detail-search" />
                                <button>
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                            <div id="detail-matches">
                            </div>
                        </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (var category in Model.Categories)
                            {
                                <li><a>@category</a></li>
                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a asp-controller="Blog" asp-action="Index"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>

                    @await Component.InvokeAsync("LatestBlog")

                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Newsteller") 